<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Sovereign Logic</title>

    <!-- Bootstrap core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="../css/bootstrap-theme.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../css/workspace.css" rel="stylesheet">

    <style>

    </style>

</head>

<body>

<!-- Fixed navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <img class="icon-bar" src="../images/Logo.svg">
            <a class="navbar-brand">Sovereign Logic</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="../../index.html">Home</a></li>
                <li class="active"><a href="binaryArithmetic.html">Binary Arithmetic</a></li>
                <li><a href="conversions.html">Conversions</a></li>
                <li><a href="truthTables.html">Min/Maxterms</a></li>
                <li><a href="karnaughMaps.html">Karnaugh Maps</a></li>
                <li><a href="designProblems.html">Design Problems</a></li>
                <li><a href="circuitDesign.html">Circuit Design</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">References<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Boolean Theorems</a></li>
                        <li><a href="#">Binary Arithmetic Rules</a></li>
                        <li><a href="#">Logic Gates</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4 col-md-3 sidebar">
            <ul class="nav nav-sidebar">
                <li class="sub-header">Binary Arithmetic Options</li>
                <li><a href="#">Binary Addition</a></li>
                <li><a href="#">Binary Subtraction</a></li>
                <li><a href="#">Binary Multiplication</a></li>
                <li><a href="#">Binary Division</a></li>
            </ul>
        </div>
        <div class="col-sm-8 col-sm-offset-4 col-md-9 col-md-offset-3 main">
            <h1 id="binary-arith-header" class="page-header">Binary Addition</h1>
            <!-- Vue Component -->
            <div class="user-input-addition" id="addition_calc">
            </div>
            <!-- Vue Component -->
            <div class="addition-quiz" id="addition_quiz">
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="../js/libs/bootstrap.min.js"></script>
<script src="../js/docs.min.js"></script>
<script src="../js/libs/vue.min.js"></script>
<script src="../js/arithmetic.js"></script>

</body>

</html>