<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Sovereign Logic</title>

    <!-- Bootstrap core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="../css/bootstrap-theme.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../css/workspace.css" rel="stylesheet">

</head>

<body>

<!-- Fixed navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <img class="icon-bar" src="../images/Logo.svg">
            <a class="navbar-brand">Sovereign Logic</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="../../index.html">Home</a></li>
                <li class="active"><a href="binaryArithmetic.html">Binary Arithmetic</a></li>
                <li><a href="conversions.html">Conversions</a></li>
                <li><a href="truthTables.html">Min/Maxterms</a></li>
                <li><a href="karnaughMaps.html">Karnaugh Maps</a></li>
                <li><a href="designProblems.html">Design Problems</a></li>
                <li><a href="circuitDesign.html">Circuit Design</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">References<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Boolean Theorems</a></li>
                        <li><a href="#">Binary Arithmetic Rules</a></li>
                        <li><a href="#">Logic Gates</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4 col-md-3 sidebar">
            <ul class="nav nav-sidebar">
                <li class="sub-header">Binary Arithmetic Options</li>
                <li><a href="#">Binary Addition</a></li>
                <li><a href="#">Binary Subtraction</a></li>
                <li><a href="#">Binary Multiplication</a></li>
                <li><a href="#">Binary Division</a></li>
            </ul>
        </div>
        <div class="col-sm-8 col-sm-offset-4 col-md-9 col-md-offset-3 main">
            <h1 id="binary-arith-header" class="page-header">{{ message }}</h1>
            <!-- Possible Vue Component -->
            <div class="user-input-addition">
                <h2 class="sub-header">Calculator</h2>
                <form id="addition_calculator">
                    <input type="text" class="first-value" name="firstNumber" placeholder="Enter First Binary Value" required><br>
                    + <input type="text" class="second-value" name="secondNumber" placeholder="Enter Second Binary Value" required><br>
                    <p class="border"></p>
                    <input type="submit" class="btn btn-primary" name="submit" value="Calculate">
                </form>
                <p id="calculator_output_add" class="well arithmetic-output">The Answer Will Appear Here.</p>
            </div>
            <div class="addition-quiz">
                <h2 class="sub-header">Practice Problems</h2>
                <form id="addition_quiz">
                    <p id="first_quiz_number"></p>
                    <p id="second_quiz_number"></p>
                    <p class="border"></p>
                    <input type="text" class="user_answer" name="userAnswer" placeholder="Enter Your Answer" required>
                    <input type="submit" class="btn btn-primary" name="submit" value="Check Answer">
                    <input type="button" class="btn btn-primary" name="reset" value="Change Values" onclick="resetValues()">
                </form>
                <p id="quiz_output_add" class="well arithmetic-output">Enter your answer with any leading 0's if necessary.</p>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="../js/libs/bootstrap.min.js"></script>
<script src="../js/docs.min.js"></script>
<script src="../js/libs/vue.min.js"></script>
<script src="../js/binaryAddCalc.js"></script>

<script>

    // Grab references to necessary HTML elements
    var additionQuizForm = document.getElementById("addition_quiz");
    var firstQuizNumPlaceholder = document.getElementById("first_quiz_number");
    var secondQuizNumPlaceholder = document.getElementById("second_quiz_number");
    var quizOutput = document.getElementById("quiz_output_add");

    // Initialize quiz numbers to be randomized
    var firstQuizNum = [0, 0, 0, 0, 0, 0, 0, 0];
    var secondQuizNum = [0, 0, 0, 0, 0, 0, 0, 0];

    // Sets random binary digits to each quiz number
    // and injects generated values into HTML for user viewing
    for (var i = 0; i < firstQuizNum.length; i++) {

        firstQuizNum[i] = Math.floor((Math.random() * 2));
        secondQuizNum[i] = Math.floor((Math.random() * 2));

        firstQuizNumPlaceholder.innerHTML += firstQuizNum[i];
        secondQuizNumPlaceholder.innerHTML += secondQuizNum[i];

    }

    // Gives the user an option to clear the current quiz numbers
    // and generate two new random binary values
    function resetValues() {

        firstQuizNumPlaceholder.innerHTML = "";
        secondQuizNumPlaceholder.innerHTML = "";

        for (var i = 0; i < firstQuizNum.length; i++) {

            firstQuizNum[i] = Math.floor((Math.random() * 2));
            secondQuizNum[i] = Math.floor((Math.random() * 2));

            firstQuizNumPlaceholder.innerHTML += firstQuizNum[i];
            secondQuizNumPlaceholder.innerHTML += secondQuizNum[i];

        }
    }

    additionQuizForm.onsubmit = function(e) {

        e.preventDefault();

        var userAnswer = additionQuizForm.userAnswer.value;
        var userAnswerDigits = Array.from(userAnswer);
        var carryIn = 0;
        var answer = [];

        // Clear previous output
        quizOutput.innerHTML = "You are ";

        for (i = firstQuizNum.length - 1; i >= 0; i--) {

            if (firstQuizNum[i] == '0' && secondQuizNum[i] == '0' && carryIn == 0) {
                answer.unshift('0');
                carryIn = 0;
            }
            else if ((firstQuizNum[i] == '1' && secondQuizNum[i] == '0' && carryIn == 0) ||
                    (firstQuizNum[i] == '0' && secondQuizNum[i] == '1' && carryIn == 0) ||
                    (firstQuizNum[i] == '0' && secondQuizNum[i] == '0' && carryIn == 1)) {
                answer.unshift('1');
                carryIn = 0;
            }
            else if ((firstQuizNum[i] == '1' && secondQuizNum[i] == '1' && carryIn == 0) ||
                    (firstQuizNum[i] == '0' && secondQuizNum[i] == '1' && carryIn == 1) ||
                    (firstQuizNum[i] == '1' && secondQuizNum[i] == '0' && carryIn == 1)) {
                answer.unshift('0');
                carryIn = 1;
                if (i == 0) {
                    answer.unshift('1');
                }
            }
            else if (firstQuizNum[i] == '1' && secondQuizNum[i] == '1' && carryIn == 1) {
                answer.unshift('1');
                carryIn = 1;
                if (i == 0) {
                    answer.unshift('1');
                }
            }

        }

        // Compare user answer to algorithm's answer and display result
        if (userAnswerDigits.toString() == answer.toString()) {
            quizOutput.innerHTML += "correct."
        }
        else {
            quizOutput.innerHTML += "incorrect. The answer is ";
            for (i = 0; i < answer.length; i++) {
                quizOutput.innerHTML += "" + answer[i];
            }
        }

    };

    var binaryArithHeader = new Vue ({
        el: '#binary-arith-header',
        data: {
            message: 'Binary Addition',
        }
    });

</script>

</body>

</html>