<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Sovereign Logic</title>

    <!-- Bootstrap core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="../css/bootstrap-theme.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../css/workspace.css" rel="stylesheet">

</head>

<body>

<!-- Fixed navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <img class="icon-bar" src="../images/Logo.svg">
            <a class="navbar-brand">Sovereign Logic</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="../../index.html">Home</a></li>
                <li class="active"><a href="binaryArithmetic.html">Binary Arithmetic</a></li>
                <li><a href="conversions.html">Conversions</a></li>
                <li><a href="truthTables.html">Min/Maxterms</a></li>
                <li><a href="karnaughMaps.html">Karnaugh Maps</a></li>
                <li><a href="designProblems.html">Design Problems</a></li>
                <li><a href="circuitDesign.html">Circuit Design</a></li>
                <li><a href="references.html">References</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4 col-md-3 sidebar">
            <ul class="nav nav-sidebar">
                <li class="sub-header">Binary Arithmetic Options</li>
                <li id="binary_addition"><a href="#">Binary Addition</a></li>
                <li id="binary_subtraction"><a href="#">Binary Subtraction</a></li>
                <li id="binary_multiplication"><a href="#">Binary Multiplication</a></li>
                <li id="binary_division" data-toggle="tooltip" data-placement="right" title="Coming Soon!"><a href="#">Binary Division</a></li>
            </ul>
        </div>
        <div class="col-sm-8 col-sm-offset-4 col-md-9 col-md-offset-3 main">
            <h1 id="binary-arith-header" class="page-header"><button type="button" style="margin-right: 12px" class="btn btn-info btn-lg" data-toggle="modal" data-target="#binaryAddModal">
                Instructions!
                </button>
                <div class="modal fade" id="binaryAddModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span>&times;</span></button>
                                <h4 class="modal-title" id="binaryAddTitle">Binary Addition Instructions</h4>
                                </div>
                            <div class="modal-body">
                                <h3 class="sub-header">Calculator</h3>
                                Simply enter your two binary values and hit calculate! If you have negative binary values,
                                it is recommended to use the binary subtraction feature as binary addition only works with
                                positive binary numbers as of now. Please read the instructions on that page.
                                <h3 class="sub-header">Practice Problems</h3>
                                This feature generates two random binary values for you to add and provide the answer for.
                                You can generate new random values with the Change Values button. You can also check your
                                answer with the Check Answer button. If you are incorrect, the correct answer will be displayed.
                                </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>Binary Addition</h1>
            <!-- Vue Component -->
            <div class="user-input-addition" id="calc">
            </div>
            <!-- Vue Component -->
            <div class="addition-quiz" id="quiz">
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="../js/libs/bootstrap.min.js"></script>
<script src="../js/libs/docs.min.js"></script>
<script src="../js/libs/vue.min.js"></script>
<script src="../js/arithmetic.js"></script>

</body>

</html>
