<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Sovereign Logic</title>

    <!-- Bootstrap core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="../css/bootstrap-theme.min.css" rel="stylesheet">

    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../css/workspace.css" rel="stylesheet">
    <link href="../css/circuitDesignStyle.css" rel="stylesheet">

</head>

<body>

<!-- Fixed navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <img class="icon-bar" src="../images/Logo.svg">
            <a class="navbar-brand">Sovereign Logic</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="../../index.html">Home</a></li>
                <li><a href="binaryArithmetic.html">Binary Arithmetic</a></li>
                <li><a href="conversions.html">Conversions</a></li>
                <li><a href="truthTables.html">Min/Maxterms</a></li>
                <li><a href="karnaughMaps.html">Karnaugh Maps</a></li>
                <li><a href="designProblems.html">Design Problems</a></li>
                <li class="active"><a href="circuitDesign.html">Circuit Design</a></li>
                <li><a href="references.html">References</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4 col-md-3 sidebar">
            <ul class="nav nav-sidebar">
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Logic Gates
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                            <ul class="list-group">
                                <li id="select2InputAND" class="list-group-item">2-Input AND<img src="../images/2_Input_AND.png" class="component-img"></li>
                                <li id="select3InputAND" class="list-group-item">3-Input AND<img src="../images/3_Input_AND.png" class="component-img"></li>
                                <li id="select2InputOR" class="list-group-item">2-Input OR<img src="../images/2_Input_OR.png" class="component-img"></li>
                                <li id="select3InputOR" class="list-group-item">3-Input OR<img src="../images/3_Input_OR.png" class="component-img"></li>
                                <li id="select2InputNOR" class="list-group-item">2-Input NOR<img src="../images/2_Input_NOR.png" class="component-img"></li>
                                <li id="select3InputNOR" class="list-group-item">3-Input NOR<img src="../images/3_Input_NOR.png" class="component-img"></li>
                                <li id="select2InputNAND" class="list-group-item">2-Input NAND<img src="../images/2_Input_NAND.png" class="component-img"></li>
                                <li id="select3InputNAND" class="list-group-item">3-Input NAND<img src="../images/3_Input_NAND.png" class="component-img"></li>
                                <li id="select2InputXOR" class="list-group-item">2-Input XOR<img src="../images/2_Input_XOR.png" class="component-img"></li>
                                <li id="select2InputXNOR" class="list-group-item">2-Input XNOR<img src="../images/2_Input_XNOR.png" class="component-img"></li>
                            </ul>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Flip-Flops
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <ul class="list-group">
                                <li class="list-group-item">S-R Flip-Flop</li>
                                <li class="list-group-item">J-K Flip-Flop</li>
                                <li class="list-group-item">D Flip-Flop</li>
                                <li class="list-group-item">T Flip-Flop</li>
                            </ul>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingThree">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    Output Modules
                                </a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                            <ul class="list-group">
                                <li class="list-group-item">7-Segment Display</li>
                            </ul>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingFour">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                    Other Components
                                </a>
                            </h4>
                        </div>
                        <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                            <ul class="list-group">
                                <li class="list-group-item">Inverter<img src="../images/Inverter.svg" class="component-img"></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </ul>
        </div>
        <div class="col-sm-8 col-sm-offset-4 col-md-9 col-md-offset-3 main">
            <svg id="canvas"></svg>
        </div>
        <button type="button" style="position: relative; left: 89.5%;" class="btn btn-info btn-lg" data-toggle="modal" data-target="#circuitModal">
            Instructions!
        </button>
        <div class="modal fade" id="circuitModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span>&times;</span></button>
                        <h4 class="modal-title" id="circuitTitle">Circuit Designer Instructions</h4>
                    </div>
                    <div class="modal-body">
                        <h3 class="sub-header">How to Add Circuit Components</h3>
                        On the left side of the screen, there are categories of circuit components
                        to choose from. When a category is selected, it will expand to show all of
                        the options. Clicking on any option will add that corresponding component to
                        the designated designer canvas.
                        <h3 class="sub-header">How to Draw Wires Between Components</h3>
                        To make connections between circuit components, first double-click on a
                        component's output (make sure it highlights in a different color when you double-click).
                        Then, double-click on the second component's input. It should also highlight in a different color
                        when it is ready to be double-clicked. A wire will then be drawn between both components.
                        <h3 class="sub-header">Setting Inputs</h3>
                        Instructions coming soon when input toggling is implemented!
                        <h3 class="sub-header">Running Simulations</h3>
                        When your circuit is fully connected, click on the Simulate button on the right side
                        of the screen. The application can evaluate both single and multiple-output circuits.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <button type="button" id="delete_circuit" style="position: relative; left: 81.2%; top: 70px;" class="btn btn-danger">Delete Circuit</button>
        <button type="button" id="simulate" onclick="simulate()" style="position: relative; left: 74.7%; top: 130px;" class="btn btn-primary">Simulate</button>
    </div>
</div>

<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="../js/libs/bootstrap.min.js"></script>
<script src="../js/libs/docs.min.js"></script>
<script src="../js/libs/vue.min.js"></script>
<script src="../js/libs/snap.svg-min.js"></script>
<script src="../js/libs/TreeModel-min.js"></script>

<!-- Component Scripts -->
<script src="../js/circuitBuilder.js"></script>
<script src="../js/components/twoInputXOR.js"></script>
<script src="../js/components/twoInputXNOR.js"></script>
<script src="../js/components/twoInputAND.js"></script>
<script src="../js/components/threeInputAND.js"></script>
<script src="../js/components/twoInputOR.js"></script>
<script src="../js/components/threeInputOR.js"></script>
<script src="../js/components/twoInputNAND.js"></script>
<script src="../js/components/threeInputNAND.js"></script>
<script src="../js/components/twoInputNOR.js"></script>
<script src="../js/components/threeInputNOR.js"></script>

</body>

</html>