<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Sovereign Logic</title>

    <!-- Bootstrap core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="../css/bootstrap-theme.min.css" rel="stylesheet">

    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../css/workspace.css" rel="stylesheet">
    <link href="../css/circuitDesignStyle.css" rel="stylesheet">

</head>

<body>

<!-- Fixed navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <img class="icon-bar" src="../images/Logo.svg">
            <a class="navbar-brand">Sovereign Logic</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="../../index.html">Home</a></li>
                <li><a href="binaryArithmetic.html">Binary Arithmetic</a></li>
                <li><a href="conversions.html">Conversions</a></li>
                <li><a href="truthTables.html">Min/Maxterms</a></li>
                <li><a href="karnaughMaps.html">Karnaugh Maps</a></li>
                <li><a href="designProblems.html">Design Problems</a></li>
                <li class="active"><a href="circuitDesign.html">Circuit Design</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">References<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Boolean Theorems</a></li>
                        <li><a href="#">Arithmetic/Conversion Rules</a></li>
                        <li><a href="#">Logic Gates</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4 col-md-3 sidebar">
            <ul class="nav nav-sidebar">
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Logic Gates
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                            <ul class="list-group">
                                <li id="select2InputAND" class="list-group-item">2-Input AND<img src="../images/2_Input_AND.svg" class="component-img"></li>
                                <li id="select3InputAND" class="list-group-item">3-Input AND<img src="../images/3_Input_AND.svg" class="component-img"></li>
                                <li id="select2InputOR" class="list-group-item">2-Input OR<img src="../images/2_Input_OR.svg" class="component-img"></li>
                                <li id="select3InputOR" class="list-group-item">3-Input OR<img src="../images/3_Input_OR.svg" class="component-img"></li>
                                <li id="select2InputNOR" class="list-group-item">2-Input NOR<img src="../images/2_Input_NOR.svg" class="component-img"></li>
                                <li id="select3InputNOR" class="list-group-item">3-Input NOR<img src="../images/3_Input_NOR.svg" class="component-img"></li>
                                <li id="select2InputNAND" class="list-group-item">2-Input NAND<img src="../images/2_Input_NAND.svg" class="component-img"></li>
                                <li id="select3InputNAND" class="list-group-item">3-Input NAND<img src="../images/3_Input_NAND.svg" class="component-img"></li>
                                <li id="select2InputXOR" class="list-group-item">2-Input XOR<img src="../images/2_Input_XOR.svg" class="component-img"></li>
                                <li id="select2InputXNOR" class="list-group-item">2-Input XNOR<img src="../images/2_Input_XNOR.svg" class="component-img"></li>
                            </ul>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Flip-Flops
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <ul class="list-group">
                                <li class="list-group-item">S-R Flip-Flop</li>
                                <li class="list-group-item">J-K Flip-Flop</li>
                                <li class="list-group-item">D Flip-Flop</li>
                                <li class="list-group-item">T Flip-Flop</li>
                            </ul>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingThree">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    Output Modules
                                </a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                            <ul class="list-group">
                                <li class="list-group-item">7-Segment Display</li>
                            </ul>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingFour">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                    Other Components
                                </a>
                            </h4>
                        </div>
                        <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                            <ul class="list-group">
                                <li class="list-group-item">Inverter<img src="../images/Inverter.svg" class="component-img"></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </ul>
        </div>
        <div class="col-sm-8 col-sm-offset-4 col-md-9 col-md-offset-3 main" id="canvas">
            <div class="insertion-point"></div>
        </div>
    </div>
</div>

<!-- Placed at the end of the document so the pages load faster -->
<script src="../js/svg.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="../js/libs/bootstrap.min.js"></script>
<script src="../js/docs.min.js"></script>
<script src="../js/libs/vue.min.js"></script>
<script src="../js/libs/draggabilly.min.js"></script>

<!-- Component Scripts -->
<script src="../js/circuitBuilder.js"></script>
<script src="../js/components/twoInputXOR.js"></script>
<script src="../js/components/twoInputXNOR.js"></script>
<script src="../js/components/twoInputAND.js"></script>
<script src="../js/components/threeInputAND.js"></script>
<script src="../js/components/twoInputOR.js"></script>
<script src="../js/components/threeInputOR.js"></script>
<script src="../js/components/twoInputNAND.js"></script>
<script src="../js/components/threeInputNAND.js"></script>
<script src="../js/components/twoInputNOR.js"></script>
<script src="../js/components/threeInputNOR.js"></script>

<script>

</script>

</body>

</html>