<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Sovereign Logic</title>

    <!-- Bootstrap core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="../css/bootstrap-theme.min.css" rel="stylesheet">

    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../css/workspace.css" rel="stylesheet">

</head>

<body>

<!-- Fixed navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <img class="icon-bar" src="../images/Logo.svg">
            <a class="navbar-brand">Sovereign Logic</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="../../index.html">Home</a></li>
                <li><a href="binaryArithmetic.html">Binary Arithmetic</a></li>
                <li><a href="conversions.html">Conversions</a></li>
                <li><a href="truthTables.html">Min/Maxterms</a></li>
                <li><a href="karnaughMaps.html">Karnaugh Maps</a></li>
                <li><a href="designProblems.html">Design Problems</a></li>
                <li><a href="circuitDesign.html">Circuit Design</a></li>
                <li class="active"><a href="references.html">References</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4 col-md-3 sidebar">
            <ul class="nav nav-sidebar">
                <li class="sub-header">Reference List</li>
                <li id="display-theorems"><a href="#">Boolean Theorems</a></li>
                <li id="display-gate-ref"><a href="#">Logic Gates & Truth Tables</a></li>
                <li id="display-arith-rules"><a href="#">Binary Arithmetic Rules</a></li>
                <li id="display-conversion-rules"><a href="#">Conversion Rules</a></li>
            </ul>
            <ul class="nav nav-sidebar">
                <li class="sub-header">Great External Resources</li>
                <li><a href="http://www.allaboutcircuits.com/">All About Circuits</a></li>
            </ul>
        </div>
        <div class="col-sm-8 col-sm-offset-4 col-md-9 col-md-offset-3 main">
            <h1 class="page-header" id="reference_header">Boolean Theorem Reference</h1>
            <!-- Vue rendering here -->
            <div class="first-column">
                <h3 class='sub-header'>Operations with 0 and 1</h3>
                <p>X + 0 = X</p>
                <p>X + 1 = 1</p>
                <p>X * 1 = X</p>
                <p>X * 0 = 0</p>
                <h3 class='sub-header'>Idempotent Laws</h3>
                <p>X + X = X</p>
                <p>X · X = X </p>
                <h3 class='sub-header'>Involution Law</h3>
                <p>(X’)’ = X</p>
                <h3 class='sub-header'>Commutative Laws</h3>
                <p>X + Y = Y + X</p>
                <p>XY = YX</p>
                <h3 class='sub-header'>Associative Laws</h3>
                <p>(X + Y) + Z = X + (Y + Z) = X + Y + Z</p>
                <p>(XY)Z = X(YZ) = XYZ</p>
                <h3 class='sub-header'>Laws of Complimentarity</h3>
                <p>X + X’ = 1</p>
                <p>X · X’ = 0</p>
            </div>
            <div class="second-column">
                <h3 class='sub-header'>Distributive Laws</h3>
                <p>X(Y + Z) = XY + XZ</p>
                <p>X + YZ = (X + Y)(X + Z)</p>
                <h3 class='sub-header'>Simplification Theorems</h3>
                <p>XY + XY’ = X</p>
                <p>X + XY = X</p>
                <p>(X + Y’)Y = XY</p>
                <p>(X + Y)(X + Y’) = X</p>
                <p>X(X + Y) = X</p>
                <p>XY’ + Y = X + Y</p>
                <h3 class='sub-header'>DeMorgan's Laws</h3>
                <p>(X + Y + Z +...)’ = X’Y’Z’...</p>
                <p>(XYZ...)’ = X’ + Y’ + Z’...	</p>
                <h3 class='sub-header'>Duality</h3>
                <p>(X + Y + Z +...) = XYZ...</p>
                <p>(XYZ) = X + Y + Z +...</p>
                <h3 class='sub-header'>Theorem for Multiplying Out and Factoring</h3>
                <p>(X + Y)(X' + Z) = XZ + X'Y</p>
                <p>XY + X'Z = (X + Z)(X' + Y)</p>
                <h3 class='sub-header'>Consensus Theorem</h3>
                <p>XY + YZ + X'Z = XY + X'Z</p>
                <p>(X + Y)(Y + Z)(X' + Z) = (X + Y)(X' + Z)</p>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/docs.min.js"></script>
<script src="../js/vue.min.js"></script>

</body>

</html>