<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="Savannah Barber">

    <title>Sovereign Logic</title>

    <!-- Bootstrap core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="../css/bootstrap-theme.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../css/workspace.css" rel="stylesheet">

</head>

<body>

<!-- Fixed navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <img class="icon-bar" src="../images/Logo.svg">
            <a class="navbar-brand">Sovereign Logic</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="../../index.html">Home</a></li>
                <li><a href="binaryArithmetic.html">Binary Arithmetic</a></li>
                <li><a href="conversions.html">Conversions</a></li>
                <li class="active"><a href="truthTables.html">Min/Maxterms</a></li>
                <li><a href="karnaughMaps.html">Karnaugh Maps</a></li>
                <li><a href="designProblems.html">Design Problems</a></li>
                <li><a href="circuitDesign.html">Circuit Design</a></li>
                <li><a href="references.html">References</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4 col-md-3 sidebar">
            <ul class="nav nav-sidebar">
                <li class="sub-header">Basic Truth Table Options</li>
                <li id="display-three-var-tt"><a href="#">3 Variables</a></li>
                <li id="display-four-var-tt"><a href="#">4 Variables</a></li>
            </ul>
            <ul class="nav nav-sidebar">
                <li class="sub-header">Need to Simplify a Boolean Expression?</li>
                <li><a href="karnaughMaps.html">Karnaugh Maps</a></li>
            </ul>
            <ul class="nav nav-sidebar">
                <li class="sub-header">Working on a Design Problem?</li>
                <li><a href="">7-Segment Display</a></li>
                <li><a href="designProblems.html">Flip-Flops/Counters</a></li>
            </ul>
        </div>
        <div class="col-sm-8 col-sm-offset-4 col-md-9 col-md-offset-3 main">
            <h1 class="page-header" id="truth_table_header">3-Variable Truth Table</h1>
            <div id="table-placeholder" class="three-var-tt">
                <!-- Vue Component for Truth Table Injected Here -->
            </div>
        </div>
    </div>
    <div class="col-sm-8 col-sm-offset-4 col-md-9 col-md-offset-3">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Minterms and Maxterms</h3>
            </div>
            <div class="panel-body" id="Output">
            </div>
        </div>
    </div>
</div>
</div>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="../js/libs/bootstrap.min.js"></script>
<script src="../js/docs.min.js"></script>
<script src="../js/libs/vue.min.js"></script>
<script src="../js/truthTables.js"></script>

</body>

</html>