.nav-sidebar li {
    text-align: left;
    min-height: 80px;
}
.main {
    height: 800px;
}

.component-img {
    float: right;
}

.list-group-item:hover {
    background-color: #deb684;
}

.gate-input, .gate-output{
    fill:none;
    stroke-linecap:butt;
    stroke-linejoin:miter;
    stroke-opacity:1;
    stroke-width:1.79;
    stroke:#000;
}

.gate-inverter {
    display:inline;
    overflow:visible;
    visibility:visible;
    fill:none;
    fill-opacity:1;
    stroke:#000000;
    stroke-width:3.89350438;
    stroke-linejoin:miter;
    stroke-opacity:1;
    marker:none;
    enable-background:accumulate
}

.two-AND {
    visibility:visible;
    fill:#000000;
    fill-opacity:1;
    marker:none
}

.two-NAND {
    display:inline;
    overflow:visible;
    visibility:visible;
    fill:#000000;
    fill-opacity:1;
    stroke:none;
    stroke-width:3;
    marker:none;
    enable-background:accumulate
}

.two-NOR {
    fill:#000000;
    fill-opacity:1;
    fill-rule:evenodd;
    stroke:none;
    stroke-width:3;
    stroke-linecap:butt;
    stroke-linejoin:miter;
    stroke-opacity:1
}

.two-OR {
    fill:#000000;
    fill-opacity:1;
    fill-rule:evenodd;
    stroke:none;
    stroke-width:3;
    stroke-linecap:butt;
    stroke-linejoin:miter;
    stroke-opacity:1
}

.two-XNOR, .two-XOR {
    fill:#000000;
    fill-opacity:1;
    fill-rule:evenodd;
    stroke:none;
    stroke-width:3;
    stroke-linecap:butt;
    stroke-linejoin:miter;
    stroke-opacity:1
}

.inverter-component {
    display:inline;
    overflow:visible;
    visibility:visible;
    fill:#000000;
    fill-opacity:1;
    stroke:none;
    stroke-width:3;
    stroke-linejoin:miter;
    stroke-opacity:1;
    marker:none;
    enable-background:accumulate
}

.inverter-input, .inverter-output {
    fill:none;
    stroke:#000000;
    stroke-linecap:butt;
    stroke-linejoin:miter;
    stroke-opacity:1
}

.three-AND {
    visibility:visible;
    fill:#000000;
    fill-opacity:1;
    marker:none
}

.three-NAND {
    display:inline;
    overflow:visible;
    visibility:visible;
    fill:#000000;
    fill-opacity:1;
    stroke:none;
    stroke-width:3;
    marker:none;
    enable-background:accumulate
}

.three-NOR {
    fill:#000000;
    fill-opacity:1;
    fill-rule:evenodd;
    stroke:none;
    stroke-width:3;
    stroke-linecap:butt;
    stroke-linejoin:miter;
    stroke-opacity:1
}

.three-OR {
    fill:#000000;
    fill-opacity:1;
    fill-rule:evenodd;
    stroke:none;
    stroke-width:3;
    stroke-linecap:butt;
    stroke-linejoin:miter;
    stroke-opacity:1
}