<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="Savannah Barber">

    <title>Digital Logic App</title>

    <!-- Bootstrap core CSS -->
    <link href="../../css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="../../css/bootstrap-theme.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../../css/workspace.css" rel="stylesheet">

</head>

<body>

<!-- Fixed navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <img class="icon-bar" src="../../images/favicon.ico">
            <a class="navbar-brand">Digital Logic Name</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="../../../index.html">Home</a></li>
                <li><a href="../binary-arithmetic/binaryArithmeticAdd.html">Binary Arithmetic</a></li>
                <li class="active"><a href="truthTable3Var.html">Truth Tables</a></li>
                <li><a href="../../circuitDesign.html">Circuit Design</a></li>
                <li><a href="../../conversions.html">Conversions</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">References<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Boolean Theorems</a></li>
                        <li><a href="#">Binary Arithmetic Rules</a></li>
                        <li><a href="#">Logic Gates</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4 col-md-3 sidebar">
            <ul class="nav nav-sidebar">
                <li class="sub-header">Basic Truth Table Options</li>
                <li><a href="#">2 Variables</a></li>
                <li><a href="#">3 Variables</a></li>
                <li><a href="truthTable4Var.html">4 Variables</a></li>
            </ul>
            <ul class="nav nav-sidebar">
                <li class="sub-header">Additional Truth Table Options</li>
                <li><a href="">7-Segment Display</a></li>
                <li><a href="">One more nav</a></li>
                <li><a href="">Another nav item</a></li>
                <li><a href="">More navigation</a></li>
            </ul>
        </div>
        <div class="col-sm-8 col-sm-offset-4 col-md-9 col-md-offset-3 main">
            <h1 class="page-header">3-Variable Truth Table</h1>
            <div class="table-responsive">
                <form name="3_var_TT" id="3_var_TT">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>A</th>
                            <th>B</th>
                            <th>C</th>
                            <th>Output</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td><select name="binary0">
                                <option value="0">0</option>
                                <option value="1">1</option>
                            </select></td>
                        </tr>
                        <tr>
                            <td>0</td>
                            <td>0</td>
                            <td>1</td>
                            <td><select name="binary1">
                                <option value="0">0</option>
                                <option value="1">1</option>
                            </select></td>
                        </tr>
                        <tr>
                            <td>0</td>
                            <td>1</td>
                            <td>0</td>
                            <td><select name="binary2">
                                <option value="0">0</option>
                                <option value="1">1</option>
                            </select></td>
                        </tr>
                        <tr>
                            <td>0</td>
                            <td>1</td>
                            <td>1</td>
                            <td><select name="binary3">
                                <option value="0">0</option>
                                <option value="1">1</option>
                            </select></td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>0</td>
                            <td>0</td>
                            <td><select name="binary4">
                                <option value="0">0</option>
                                <option value="1">1</option>
                            </select></td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>0</td>
                            <td>1</td>
                            <td><select name="binary5">
                                <option value="0">0</option>
                                <option value="1">1</option>
                            </select></td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>1</td>
                            <td>0</td>
                            <td><select name="binary6">
                                <option value="0">0</option>
                                <option value="1">1</option>
                            </select></td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td><select name="binary7">
                                <option value="0">0</option>
                                <option value="1">1</option>
                            </select></td>
                        </tr>
                        </tbody>
                    </table>
                    <input type="submit" class="btn btn-primary" name="submit" value="Find Min/Maxterms">
                </form>
            </div>
        </div>
        <div class="col-sm-8 col-sm-offset-4 col-md-9 col-md-offset-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Output</h3>
                </div>
                <div class="panel-body" id="Output">
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="../../js/bootstrap.min.js"></script>
<script src="../../js/docs.min.js"></script>
<script src="../../../node_modules/vue/dist/vue.min.js"></script>

<script src="../../js/minMaxterm3VarTT.js"></script>

</body>

</html>